/* Boilerplate stuff
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    box-sizing: border-box; 
    scroll-behavior: smooth; }
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit; }
/**:focus {
    outline: none; }*/
/*body {
    -webkit-font-smoothing: antialiased; }*/


/* Variables
––––––––––––––––––––––––––––––––––––––––––––––––––
These aren't set by CSS, but in the JS.
So must ALWAYS supply a default/fallback when
calling them because on pageload they aren't set.

The defaults values are: 

    --background-color: #000;
    --left-color: rgb(255,0,255);
    --right-color: rgb(0,0,255);
    --angle: 30deg;
    --fontsize: 78px;
    ** haven't dealt with font-name yet **
*/
:root {

}

/* Z-indexex
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {

}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– 
*/
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: calc( (22 / 16) * 1rem ); 
    font-style: normal;
    font-weight: 900; /* black */
    letter-spacing: -0.020em;  /* adobe xd's unit is 1/1000em */
    line-height: 1.000; /* redundant */
    white-space: nowrap;
    margin-bottom: calc( (26 / 16) * 1rem );
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: calc(var( --fontsize, 78 ) * 1px); 
    font-style: normal;
    font-weight: 900; /* black */
    letter-spacing: 0.000em;  /* adobe xd's unit is 1/1000em */
    line-height: 1.200; /* generally a good one? */
    text-align: center;
}

label {
    font-family: 'Raleway', sans-serif;
    font-size: calc( (14 / 16) * 1rem ); 
    font-style: normal;
    font-weight: 600; /* semi-bold */
    letter-spacing: 0.000em;  /* adobe xd's unit is 1/1000em */
    line-height: 1.000; /* redundant */
    white-space: nowrap;
    color: lightgray;
}

pre {
    font-family: 'JetBrains Mono', monospace;
    font-size: calc( (12 / 16) * 1rem ); 
    font-style: normal;
    font-weight: 400; /* regular */
    letter-spacing: -0.030em;  /* adobe xd's unit is 1/1000em */
    line-height: calc( (19 / 16) * 1rem );
}
pre .code-literal {
    color: red;
}
pre .code-keyword {
    font-style: italic;
    font-weight: 500; /* regular */
    color: blue;
}


/* Responsive Grid
––––––––––––––––––––––––––––––––––––––––––––––––––
Site isn't designed for < 750px width...

left/right margins are: 
[0px, 750px) -> 5%
[750px, ...) -> at 750px = 40px margin, at 1280px = 100px margins. Do the math for a smooth transition. 
[ ...px, inf) -> max column width should be 1280px
*/

:root { --grid-padding: 5vw; }
@media ( min-width: 750px ) {
    :root { --grid-padding: calc( (100vw * 0.113) - 44.64px ); }
}
@media ( min-width: 1538px ) {
    :root { --grid-padding: calc( (100vw - 1280px) / 2 ); }
}


/* Gradient
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.gradient-accent {
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-size: 100% auto;
    background-image: 
        linear-gradient( 
            calc( var( --angle, 30 ) * 1deg ), 
            var( --left-color, rgb(255,0,255) ), 
            var( --right-color, rgb(0,0,255) )
        );
}

/* Main Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    /*.main-section > header { background-color: lightblue; }*/
    .main-section > aside  { background-color: lightyellow; }
    .main-section > main   { background-color: lightgreen; }

.main-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    /*border: 3px red solid;*/
    background-color: var( --background-color, #000 );

    padding-top: 2vh;
    padding-left:  var( --grid-padding ); 
    padding-right: var( --grid-padding ); 
}

.main-section > * { width: 100%; }
@media ( min-width: 1000px ) {
    .main-section > header { order: 1; flex-grow: 0; }
    .main-section > aside  { order: 2; flex-grow: 0; }
    .main-section > main   { order: 3; flex-grow: 1; }
    .main-section {
        justify-content: flex-start;
    }
    .main-section > main {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
}


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: lightpink;
    padding: 1rem var( --grid-padding );
}
footer > div {
    font-family: 'Raleway', sans-serif;
    font-size: calc( (14 / 16) * 1rem ); 
    font-style: normal;
    font-weight: 600; /* semi-bold */
    letter-spacing: -0.020em;  /* adobe xd's unit is 1/1000em */
    line-height: 1.000; /* redundant */
    white-space: nowrap;
    color: var( --background-color, #000 );
}
.footer-contacts {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.footer-contacts > div {
    width:  calc( (40 / 16) * 1rem );
    height: calc( (40 / 16) * 1rem );
    border-radius: 100%;
    background-color: hotpink;
    margin-right: calc( (12 / 16) * 1rem );
    position: relative;
    bottom: calc( (34 / 16) * 1rem );
    box-shadow: 0 0.2rem 0.6rem 0 rgba(0,0,0,0.50);

}
.footer-contacts > div:last-child { margin-right: 0; }


/* Inputs / Form Fields
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="text"] {
    border: 1px solid transparent;
    outline: none;
}
input[type="text"]:focus {
    border-color: red;
}


input[type="color"] {
    border-color: red;
}




















